## COVID-19 Statistics, Draft 001
- This notebook will contain data regarding COVID deaths and hospitalizations
- Data is sourced from the CDC.
- https://covid.cdc.gov/covid-data-tracker/

In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read CSV file, store into DataFrame
covid_death_csv = ("../Data/Provisional_COVID-19_Death_Counts_by_Week_Ending_Date_and_State_CDC.csv")
covid_df = pd.read_csv(covid_death_csv)

In [5]:
# Clean DataFrame, remove unnecessary columns, filter Group by month, reset index
covid_df = covid_df[['Start Date','End Date','Group','Year','Month','State','COVID-19 Deaths','Total Deaths']]
covid_df = covid_df.loc[covid_df['Group']=='By Month']
covid_df = covid_df.reset_index(drop=True)

In [4]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Start Date       240 non-null    object
 1   End Date         240 non-null    object
 2   Group            240 non-null    object
 3   Year             240 non-null    object
 4   Month            240 non-null    float64
 5   State            240 non-null    object
 6   COVID-19 Deaths  234 non-null    float64
 7   Total Deaths     240 non-null    int64
dtypes: float64(2), int64(1), object(5)
memory usage: 15.1+ KB

In [6]:
# Fill NaN values in 'COVID-19 Deaths' column with 0
covid_df = covid_df.fillna(0)

In [8]:
# Preview DataFrame
covid_df

,Start Date,End Date,Group,Year,Month,State,COVID-19 Deaths,Total Deaths
0,1/1/20,1/31/20,By Month,2020,1.0,California,0.0,25761
1,2/1/20,2/29/20,By Month,2020,2.0,California,0.0,23827
2,3/1/20,3/31/20,By Month,2020,3.0,California,279.0,25122
3,4/1/20,4/30/20,By Month,2020,4.0,California,2021.0,25624
4,5/1/20,5/31/20,By Month,2020,5.0,California,2238.0,24942
...,...,...,...,...,...,...,...,...
235,8/1/23,8/31/23,By Month,2023,8.0,Washington,104.0,5294
236,9/1/23,9/30/23,By Month,2023,9.0,Washington,138.0,5313
237,10/1/23,10/19/24,By Month,2023,10.0,Washington,131.0,5553
238,11/1/23,11/30/23,By Month,2023,11.0,Washington,111.0,5471
239,12/1/23,12/31/23,By Month,2023,12.0,Washington,149.0,5895